<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Promoções </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let produto of onObterProdutos();let i= index">
    <ion-item *ngIf="produto.promocao === true">
      <ion-img [src]="produto.imagem" class="miniatura"></ion-img>
      <ion-label>
        <h2>{{ produto.nome }}</h2>

        <h3>{{ produto.preco | currency: 'BRL' }}</h3>
        <p>{{ produto.descricao }}</p>
        <p>Estoque: {{ produto.estoque }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
